@value borderColor from 'SharedStyles/globalStyles';

.mapViewContainer {
  border: 1px solid borderColor;
  margin-left: 20px;
  flex: 1;
}

.leafletContainer {
  height: 100vh;
}

.singleDiscussionMapViewContainer {
  float: right;
  border: 1px solid borderColor;
  margin-left: 20px;
  flex: 1;
}

.singleDiscussionLeaftLetContainer {
  height: 165px;
  width: 300px;
}
