/* TODO: Figure out correct bounds for container */
@value borderColor from 'SharedStyles/globalStyles';

.mapViewContainer {
  height: 100vh;
  border: 1px solid borderColor;
  margin-left: 20px;
  flex: 1;
}