@value smallBP, mediumBP, largeBP from 'SharedStyles/globalStyles';

/**
 * SearchBar component styles
 */
 .search {
     margin-top:20px;
     display:flex;
     justify-content:space-around;
 }

.searchBox{
  width: 35rem;
 
  padding:10px;
}

.searchLabel {
    padding:10px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
