@value borderColor from 'SharedStyles/globalStyles';

.discussionPinContainer {
  text-align: center;
  background-color: /* #e7f1f9 */ #ffffff;
  border: 1px solid borderColor;
  border-radius: 5px;
  min-width: 20px;
  min-height: 20px;
  &:hover {
    cursor: pointer;
  }
}

.discussionPinNumberTag {
  color: black;
  font-size: 16px;
  margin: 0;
}