@value borderColor from 'SharedStyles/globalStyles';

.discussionPinContainer {
  text-align: center;
  background-color: #ffffff;
  border: 1px solid borderColor;
  border-radius: 5px;
  min-width: 40px;
  min-height: 10px;
  &:hover {
    cursor: pointer;
  }
}

.discussionPinNumberTag {
  color: black;
  font-size: 10px;
  margin: 0;
  padding: 5px 2px 5px 2px;
}